body{
    animation-name: exampla;
    animation-duration: 4s;
    animation-iteration-count: 1;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

/* body:hover{
    animation-name: exampla;
    animation-duration: 4s;
    animation-iteration-count: 1;
} */
p{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 30000;
    font-size: 60px;
    font-family: helvetica;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    width: auto;
    margin: 0%;
    margin-right: 0%;
}

@keyframes example {

    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(100px,0px);
    }
    50%  {
        transform: translate(-100px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
  }

  @keyframes exampla {

    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
    }
    50%  {
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
}

a:hover {
    color: rgb(255, 0, 0);
}


.img404{
    max-width:300px;
    max-height:275px;
    width: 250px;
    height: 200px;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 490px;
    width: 182px;
    margin: auto;
    border-radius: 10%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 490px;
    width: 100%;
}